.custom-img { background-color: #333333; color: #666666; border: 1px solid #850000; }

@media (min-width: 64em) { .custom-img { background-color: #333333; color: #666666; border: 1px solid #850000; } }
